{% extends "layout.html" %}
{% block title %}Log In - {{type.name}}{% endblock %}
{% block heading %}Log In{% endblock %}
{% block preamble %}
<div class="content">
<p><a href="/signup/{{type.code}}">Create an account</a></p>
</div>
{% endblock %}
{% block main %}
<form method="POST" action="/login/{{type.code}}">

    {% if error %}
    <div class="notification is-danger">{{error}}</div>
    {% endif %}


    <div class="field">
        <label class="label" for="username">Username</label>
        <div class="control">
            <input class="input" type="text" id="username" name="username"/>
        </div>
    </div>

    <div class="field">
        <label class="label" for="password">Password</label>
        <div class="control">
            <input class="input" type="password" id="password" name="password"/>
        </div>
    </div>

    <div class="control">
        <input class="button is-primary" type="submit" value="Login"/>
    </div>
</form>
{% endblock %}
